.App {
    display: flex;
}

.genre-list {
    max-width: 20em;
    padding: 2em;
}

.genre-list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.movie-list {
    min-width: 40em;
    padding: 2em;
}

.movie-list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.movie-list .title {
    font-size: 1.2em;
}

.movie-list .genres {
    float: right;
}
